<launch> 

	<arg name = "rate" default = "1.0" />
	<!-- <arg name="camera" default="/stereo_down"/> -->
	<arg name = "camera" default = "/xiroi/stereo_ch3"/>
	<arg name = "robot" default = "/xiroi" />
	<arg name = "dec" default = "2"/>

	<param name = "use_sim_time" value = "true"/>
	<rosparam command = "load" file = "$(find uware)/config/georeferencer.yaml" />

	<arg name = "bagfile" default = "/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-13-34_0.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-19-08_1.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-24-42_2.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-30-15_3.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-35-48_4.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-41-34_5.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-47-07_6.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_images_2022-01-31-17-52-41_7.bag
									/DATA_C/bagfiles/InvHali/2022_01_31/xiroi_17_13_34/xiroi_topics_2022-01-31-17-13-34_0.bag" />
	
	<!-- arg clock clock -r 0.8  -->
	<node pkg = "rosbag" type = "play" name = "player" args = "-d 1 -r $(arg rate) $(arg bagfile)" required = "true" />

	<!-- Stereo Processing -->
  	<include file = "$(find uware)/launch/stereo_3D.launch">
    	<arg name = "stereo" value = "$(arg camera)" />
		<arg name = "decimation" value = "$(arg dec)" />
  	</include>

	<node name = "georeferencer" pkg = "uware" type = "img_georeferencer.py" output = "screen">
		<remap from = "image_rect_color" to = "$(arg camera)/scaled_x$(arg dec)/right/image_rect_color"/>
		<remap from = "navigation" to = "$(arg robot)/navigator/navigation" />
    </node>

</launch>
