<launch>


   <arg name="bagfile" default="
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-11-28-40_0.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-11-35-00_1.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-11-41-19_2.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-11-48-42_3.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-11-55-01_4.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-12-01-20_5.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-12-07-39_6.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/images_2021-09-17-12-13-59_7.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/17_09_2021/11_28_39/topics_2021-09-17-11-28-52_0.bag" />

  <param name="/use_sim_time" value="true"/>
  <arg name="camera" default="/stereo_down"/>

  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r 0.5" />

  <node pkg="odometry2range" type="odometry2range" name="odometry2range" output="screen">
    <remap from="odometry" to="/turbot/navigator/altitude/ekf_alt/odometry"/>
    <remap from="Range" to="/turbot/navigator/altitude_EKF_filtered"/>
  </node>

  
  <include file="/home/xesc/workspace_turbot/src/uware/launch/stereo_3D.launch">
    <arg name="camera1" value="$(arg camera)" />
  </include>

  <!--node pkg="image_preprocessing" type="stereo_clahs_node" name="stereo_clahs_node" respawn="true" output="screen" >
    <remap from="stereo" to="$(arg camera)/scaled_x2"/>
  </node-->

  <node pkg="image_preprocessing" type="color_correction_image" name="color_correction_image_left" output="screen">
    <remap from="/color_correction_image/input" to="$(arg camera)/scaled_x4/left/image_rect_color"/>
    <remap from="/color_correction_image/output" to="/clahe/scaled_x4/left/image_rect_color_corrected"/>
  </node>

  <node pkg="uware" type="preprocess" name="preprocess" output="screen">
    <param name="odom_topic" value="/turbot/navigator/ekf_odom/odometry"/>
    <param name="map_topic" value="/turbot/navigator/ekf_map/odometry"/>
    <param name="camera_left_topic" value="/clahe/scaled_x4/left/image_rect_color_corrected"/>
    <!--param name="camera_left_topic" value="$(arg camera)/scaled_x2/left/image_rect_color"/-->
    <param name="camera_right_topic" value="$(arg camera)/scaled_x4/right/image_rect_color"/>
    <param name="camera_right_info" value="$(arg camera)/scaled_x4/right/camera_info"/>
    <param name="camera_left_info" value="$(arg camera)/scaled_x4/left/camera_info"/>
    <param name="camera_topic_points2" value="$(arg camera)/scaled_x4/points2"/>
    <param name="altitude_topic" value="/turbot/navigator/altitude_EKF_filtered"/>
    <param name="navstatus_topic" value="/turbot/navigator/navigation"/>
    <param name="min_cloud_size" value="400"/>
    <param name="store_distance" value="0.35"/>
    <param name="outdir" value="/home/xesc/workspace_turbot/src/uware/data/preprocess"/>

  </node>


</launch>
