<launch>

  <arg name="camera" default="/stereo_down"/>
  <arg name="dec" default="1"/>
  

  <!-- <arg name="bagfile" default="/DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-10-01_0.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-16-06_1.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-22-01_2.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-28-04_3.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-34-25_4.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/images_2022-03-09-13-40-44_5.bag
                              /DATA_B/bagfiles/turbot/2022_03_09/13_10_00/topics_2022-03-09-13-10-18_0.bag" /> -->

  <arg name="bagfile" default="/DATA_C/bagfiles/InvHali/2020_10_09/14_28_54/images_2020-10-09-14-28-55_0.bag
                            /DATA_C/bagfiles/InvHali/2020_10_09/14_28_54/images_2020-10-09-14-41-46_1.bag
                            /DATA_C/bagfiles/InvHali/2020_10_09/14_28_54/images_2020-10-09-14-54-39_2.bag
                            /DATA_C/bagfiles/InvHali/2020_10_09/14_28_54/images_2020-10-09-15-07-36_3.bag
                            /DATA_C/bagfiles/InvHali/2020_10_09/14_28_54/topics_2020-10-09-14-28-56_0.bag" />


  <param name="/use_sim_time" value="true"/>

  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r 1" />

  <!-- <node pkg="odometry2range" type="odometry2range" name="odometry2range" output="screen">
    <remap from="odometry" to="/turbot/navigator/altitude/ekf_alt/odometry"/>
    <remap from="Range" to="/turbot/navigator/altitude_EKF_filtered"/>
  </node> -->

  <include file="$(find uware)/launch/stereo_3D.launch">
    <arg name="stereo" value="$(arg camera)" />
    <arg name="decimation" value="$(arg dec)" />
  </include>

  <!--node pkg="image_preprocessing" type="stereo_clahs_node" name="stereo_clahs_node" respawn="true" output="screen" >
    <remap from="stereo" to="$(arg camera)/scaled_x2"/>
  </node-->

  <!-- <node pkg="image_preprocessing" type="color_correction_image" name="color_correction_image_left" output="screen">
    <remap from="/color_correction_image/input" to="$(arg camera)/scaled_x$(arg dec)/left/image_rect_color"/>
    <remap from="/color_correction_image/output" to="/clahe/scaled_x$(arg dec)/left/image_rect_color_corrected"/>
  </node> -->

  <node pkg="uware" type="preprocess" name="preprocess" output="screen">
    <!-- <param name="odom_topic" value="/turbot/navigator/ekf_odom/odometry"/> -->
    <!-- <param name="map_topic" value="/turbot/navigator/ekf_map/odometry"/> -->
    <!-- <param name="camera_left_topic" value="/clahe/scaled_x$(arg dec)/left/image_rect_color_corrected"/> -->
    <param name="camera_left_topic" value="$(arg camera)/scaled_x$(arg dec)/left/image_rect_color"/>
    <param name="camera_right_topic" value="$(arg camera)/scaled_x$(arg dec)/right/image_rect_color"/>
    <param name="camera_right_info" value="$(arg camera)/scaled_x$(arg dec)/right/camera_info"/>
    <param name="camera_left_info" value="$(arg camera)/scaled_x$(arg dec)/left/camera_info"/>
    <param name="camera_topic_points2" value="$(arg camera)/scaled_x$(arg dec)/points2"/>
    <param name="altitude_topic" value = "/turbot/navigator/altitude_raw"/>
    <!-- <param name="altitude_topic" value="/turbot/navigator/altitude_EKF_filtered"/> -->
    <param name="navstatus_topic" value="/turbot/navigator/navigation"/>
    <param name="min_cloud_size" value="400"/>
    <param name="store_distance" value="0.35"/>
    <param name="outdir" value="/DATA_C/georeferenced/INVHALI/2020_10_09/14_28_54/HM/DecimationX1_StoreDistance0_35/"/>
    <param name="max_altitude" value="3.5"/>
    <param name="approximate_time" value="100"/>
  </node>

</launch>