<launch>
  
  <arg name="suffix"          default=""/>
  
  <!--param name="use_sim_time" value="true"/-->

 


  <!--arg name="bagfile" default="
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-17-27-07_0.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-17-39-31_1.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-17-46-02_2.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-17-52-33_3.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-17-58-53_4.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-18-05-12_5.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/images_2021-09-16-18-11-31_6.bag
    /home/xesc/BAGFILES_BAG/EUROFLEETS/16_09_2021_17_27_07/17_27_07/topics_2021-09-16-17-27-11_0.bag" /--> 

  <arg name="calibrate" default="false"/>
  <param name="/use_sim_time" value="true"/>
  <arg name="camera1" default="/stereo_down"/>
  <arg name="decimation" default="4" />
  <arg name="nodelet_args" value="standalone image_proc/crop_decimate" />



  <arg name="disparity_params" value="/home/xesc/workspace_turbot/src/uware/config/disparity_params_full_x4.yaml" />

  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_left_x$(arg decimation)" ns="$(arg camera1)" output="screen" respawn="true" args="$(arg nodelet_args)" >
      <param name="decimation_x" value="$(arg decimation)" />
      <param name="decimation_y" value="$(arg decimation)" />
      <remap from="camera" to="left" />
      <remap from="camera_out" to="scaled_x$(arg decimation)/left"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_right_x$(arg decimation)" ns="$(arg camera1)" output="screen" respawn="true" args="$(arg nodelet_args)" >
    <param name="decimation_x" value="$(arg decimation)" />
    <param name="decimation_y" value="$(arg decimation)" />
    <remap from="camera" to="right" />
    <remap from="camera_out" to="scaled_x$(arg decimation)/right"/>
  </node>



  <!--include file="$(find cola2_turbot)/launch/payload/stereo/stereo_pipeline.launch">
    <arg name="stereo" value="/stereo_down" />
    <arg name="launch_in_nuc" value="false" />
  </include-->


  <!-- stereo image proc: debayer, rectification and 3D point clouds  --> 

  <node pkg="stereo_image_proc" type="stereo_image_proc" name="image_proc_left" respawn="true" output="screen">
    <remap from="left/image_raw" to="$(arg camera1)/scaled_x$(arg decimation)/left/image_raw"/>
    <remap from="left/camera_info" to="$(arg camera1)/scaled_x$(arg decimation)/left/camera_info"/>
    <remap from="left/image_rect_color" to="$(arg camera1)/scaled_x$(arg decimation)/left/image_rect_color"/>
    <remap from="right/image_raw" to="$(arg camera1)/scaled_x$(arg decimation)/right/image_raw"/>
    <remap from="right/camera_info" to="$(arg camera1)/scaled_x$(arg decimation)/right/camera_info"/>
    <remap from="right/image_rect_color" to="$(arg camera1)/scaled_x$(arg decimation)/right/image_rect_color"/>
    <remap from="disparity" to="$(arg camera1)/scaled_x$(arg decimation)/disparity"/>
    <remap from="points2" to="$(arg camera1)/scaled_x$(arg decimation)/points2"/>
    <rosparam file="$(arg disparity_params)"/>
    <param name="approximate_sync" value="true" />
  </node>



  <!--node name="rviz" pkg="rviz" type="rviz"/--> 
</launch>